
html {
    * {
        color: var(--color-primary);
        font-family: var(--font-default);
        @apply focus:outline-none active:outline-none;
    }
    body {
        --bg: var(--color-body);
        main {
            position: relative;
            width: 100vw;
            max-width: 100vw;
            min-height: 100vh;
        }
    }
}
