.form-variant {
  &-default {
    --form-rounded: 1rem;
    --form-bg: rgb(198, 198, 198);
    --form-p: 2rem;
    --form-button-pt: 2rem !important;
    --form-border:1px solid rgb(198, 198, 198);
    @apply shadow-2xl max-w-[500px];
  }
}
