.accordion-variant {
  &-default {
      --accordion-bg: #eee;
      --accordion-button-text: black;
      --accordion-button-active-text: white;
      --accordion-button-bg: white;
      --accordion-button-active-bg: black;
  };
}
