html {
  * {
    color: var(--color-primary);
    font-family: var(--font-default);
    @apply focus:outline-none active:outline-none;
  }
  body {
    --bg: var(--color-body);
    //background-image: url("/bg.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    main {
      position: relative;
      width: 100vw;
      max-width: 100vw;
      min-height: 100vh;
    }
  }
}
